
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-Regular.ttf);
}

:root{
    --var-back:#ca1eda;
    --var-theme:#1a99ee;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--var-theme);
}

.container .display {
    width: 300px;
    height: 45px;
    display: flex;
    position: relative;
}

.container .display input {
    width: 100%;
    height: 100%;
    color: rgb(65, 65, 65);
    background: white;
    padding: 12px;
    font-size: 17px;
    pointer-events: none;
    border-radius: 8px;
}

.container .display span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    color: var(--var-theme);
    display: none;
    cursor: pointer;
}

.container button {
    cursor: pointer;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    color: #fff;
    background: var(--var-back);
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    transition: .4s;
}


